@font-face {
  font-family: SupercellText-Bold;
  src: url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_bd.eot);
  src: url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_bd.eot?#iefix) format("embedded-opentype"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_bd.woff2) format("woff2"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_bd.woff) format("woff"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_bd.ttf) format("truetype")
}

@font-face {
  font-family: SupercellText-Medium;
  src: url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_md.eot);
  src: url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_md.eot?#iefix) format("embedded-opentype"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_md.woff2) format("woff2"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_md.woff) format("woff"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_md.ttf) format("truetype")
}

@font-face {
  font-family: SupercellText-Regular;
  src: url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_rg.eot);
  src: url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_rg.eot?#iefix) format("embedded-opentype"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_rg.woff2) format("woff2"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_rg.woff) format("woff"),url(//cdn.supercell.com/fonts/supercell/supercelltext/full/supercelltext_w_rg.ttf) format("truetype")
}




body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #90b6f5;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    padding: 2.5em;
    margin: 3em 0 3em 0;
    border-radius: 1em;  
    background: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 5px #555;
}

.container .logoSupercell img{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 45%;
    height: auto;
}


.labelBar{
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 13px;
  margin: .5em;
}


.progress-container {
    position: relative;
    background: #4285f4;
    min-height: 1.25em;
    border-radius: .9em;
    margin-bottom: 1.3em;
    overflow: hidden;
  }
  
  .progress-bar {
    background: linear-gradient(to right, #4285f4, #0f9d58);
    height: 100%;
    width: 0%;
    border-radius: .9em;
    position: absolute;
    transition: width 1s ease-in-out;
  }
  
  .progress-indicator {
    position: absolute;
    left: .3em;
    top: 50%;
    transform: translateY(-50%);
    width: .8em;
    height: .8em;
    background-color: white;
    border-radius: 50%;
    transition: left 1s ease-in-out;
  }
  



  .bodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bodyContainer span:nth-child(1){
    font-size: 26px;
    font-family: SupercellText-Bold,Helvetica,sans-serif;
  }

  .bodyContainer span:nth-child(2){
    width: 80%;
    font-size: 14px;
    font-family: SupercellText-Medium,Helvetica, sans-serif;
    text-align: center;
    opacity: .7;
    margin: .5em;
  }

  .inputSupercell{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }

  .inputSupercell input{
    width: 90%;
    padding: 1em;
    font-size: 16px;
    border-radius: .7em;
    background: #ffffff;
    outline: none;
    border: none;
    box-shadow: 1px 1px 4px inset rgba(128, 128, 128, 0.5);
  }

  .inputSupercell input:focus{
    outline: 3px solid #0062ff;
  }

  .inputSupercell span{
    text-align: center;
    font-size: 13px;
    margin: .8em;
    font-family:SupercellText-Regular,Helvetica, sans-serif;
    opacity: .8;
  }

  .inputSupercell span a{
    text-decoration: none;
    color: #0004ff;
  }


.button{
  display: flex;
  flex-direction: column;
  gap: .7em;
  align-items: center;
  margin-bottom: 1em;
}

.button button{
  width: 90%;
  padding: .8em;
  border-radius: 1em;
  font-weight: 600;
  font-size: 18px;
  background: #2d78f0;
  color: #f5eded;
  transition: background .5s ease-in;
  border: none;
  font-family: SupercellText-Bold,Helvetica, sans-serif;
}



.button button:hover{
  background: #023891;
}

.button a{
  text-align: center;
  background: #ffffff;
  color: #000000;
  border: 2px solid #555;
  opacity: .5;
  transition: opacity .5s ease-in;
  text-decoration: none;
}

.button .kembaliContainer{
  width: 80%;
  padding: .7em;
  border-radius: 1em;
  font-weight: 600;
  font-size: 18px;
  font-family: SupercellText-Bold,Helvetica, sans-serif;
  opacity: .7;
}

.button .kembaliContainer:hover{
 opacity: 1;
}

.pendaftaranSupercell{
  text-align: center;
}

.pendaftaranSupercell span{
  text-decoration: none;
  cursor: pointer;
  color: #0051d4;
}


.isi-container1, .isi-container2{
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}

.isi-container1.show,
.isi-container2.show{
  opacity: 1;
  display: block;
}


.bodyContainer-2{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
}

.bodyContainer-2 span:nth-child(1){
  font-size: 28px;
  font-family:SupercellText-Bold,Helvetica, sans-serif;
  margin: 0 0 .3em 0;
}

.bodyContainer-2 span:nth-child(2){
    font-size: 14px;
    font-family: SupercellText-Medium,Helvetica, sans-serif;
    opacity: .7;
}

.bodyContainer-2 span:nth-child(3){
  font-size: 14px;
  font-family: SupercellText-Medium,Helvetica, sans-serif;
  opacity: .9;
}


.swal2-title{
  font-family: SupercellText-Bold,Helvetica, sans-serif;
}

.swal2-content{
  font-family: SupercellText-Bold,Helvetica, sans-serif;
}


.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: space-between;
  gap: .5em;
}

.wrapper input.field {
  width: 2.5em;
  line-height: 3.5em;
  font-size: 20px;
  border: none;
  background-color: #dde9e9;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #093030;
  margin-bottom: .3em;
  box-shadow: 1px 1px 5px #8a9da5;
  font-family: SupercellText-Bold,Helvetica, sans-serif;
}

.wrapper input.field:focus {
  outline: none;
}


.container2-button{
  display: flex;
  flex-direction: column;
  gap: .7em;
  align-items: center;
  margin-bottom: 1em;
}


.container2-button button{
  width: 90%;
  padding: .8em;
  border-radius: 1em;
  font-weight: 600;
  font-size: 18px;
  background: #2d78f0;
  color: #f5eded;
  transition: background .5s ease-in, opacity .5s ease-in;
  border: none;
  font-family: SupercellText-Bold,Helvetica, sans-serif;
}

.container2-button button:hover{
  background: #023891;
}


.container2-button button:nth-child(1){
  background: #edf3f0;
  border: 2px solid #555;
  opacity: .7;
  color: #000000;
}

.container2-button button:nth-child(1):hover{
  opacity: 1;
}

button.resend {
  background-color: transparent;
  border: none;
  color: #3DAFE1;
  cursor: pointer;
  margin-bottom: 1em;
}

button.resend i {
  margin-left: 5px;
}








@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 80%;
    height: auto;
  }

  .wrapper input.field {
    font-size: 16px;
  }

}


@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 50%;
    height: auto;
  }

  .wrapper {
    gap: 2px;
  }
  

}
